@import '../theme/theme.scss';

.main-header {
  .Navbar {
    background: $primary-color;
    color: $text-auto !important; /* navbar-brand */
    .nav-link { /* nav-link */
      color: $text-auto !important;
      &.active {
        background-color: $bg-auto; /* active nav-link */
      }
      &.HomeLink {
        width: 100% !important;
        color: $text-auto;
        height: 100% !important;
      }
    }
    .DropdownMenu {
      background: $primary-color;
      & .dropdown-item:hover {
        background: $sub-color;
      }
    }
  }
}
