@import '../theme/theme.scss';
.Homepage {
  display: grid;
  grid-template:
      'h1 arrow'
      'p h2';
  background: $dark-bg;
  width: auto;
  border-radius: 5px;
  box-shadow: 0px 100px 500px #ccc;
  transition: all .6s ease-out;
  & h1 {
    grid-area: h1;
  }
  & p {
    grid-area: p;
  }
  & .fa-arrow-right {
    opacity: 0;
    grid-area: arrow;
    align-self: center;
    
    transition: all .6s ease-out;
  }
  & h2 {
    grid-area: h2;
  }
  &:hover {
    transform: rotate3d(-20, 20, -10, 30deg);
    & .fa-arrow-right {
      color: black;
      opacity: 1;
      text-align: right;
      // transform: scale(3) translate(125px, -100px) rotateZ(-45deg);
    }
  }
}
