@import '../theme/theme.scss';
.Homepage {
  display: grid;
  grid-template:
      'h1 arrow'
      'p h2';
  background: $dark-bg;
  width: auto;
  border-radius: 5px;
  box-shadow: 0px 100px 500px #ccc;

  & h1 {
    grid-area: h1;
  }
  & p {
    grid-area: p;
  }
}
