@import '../theme/theme.scss';
.Homepage {
  display: grid;
  grid-template:
      'h1 arrow'
      'p h2';
  background: $dark-bg;
  width: auto;
  border-radius: 5px;
  box-shadow: 0px 100px 500px #ccc;

  & h1 {
    grid-area: h1;
  }
  & form {
    & input {
      border-color: $text !important;
      margin: 0 !important;
      &:focus:not([readonly]) { /* input box underline color */
        box-shadow: 0 1px 0 0 $text;
      }
    }
  }
  & p {
    grid-area: p;
  }
}
