@import '../theme/theme.scss';

.Profile {
  background: $dark-bg;
  box-shadow: 0px 100px 500px #ccc;
  width: auto;
  
  & .channelId-btn {
    background: $primary-color !important;
  }
}

@media(max-width: 768px) {
  .Profile {
    margin: 20px 0 !important;
    .card-body {
      padding: 10px;
    }
  }
}
