@import '../theme/theme.scss';

.Playlist {
  min-width: 300px;
  background: $dark-bg;
  background-color: $dark-text;
  color: $light-text;
  box-shadow: 0px 100px 500px #ccc;
  padding: 20px !important;
  border-radius: 3px;
  .playlistItem {
    background: transparent;
    border: 0;
    h5 {
      font-family: 'Open Sans', sans-serif;
      margin: 5px;
      margin-bottom: 15px;
      padding: 5px;
    }
    .video {
      margin: 0;
      iframe {

      }
    }
  }
}

@media(max-width: 768px) {
  .Playlist {
    margin: 20px 0px !important;
    padding: 10px !important;
    .playlistItem {
      padding: 10px 10px;
    }
  }
}
